.header *{
    font-family: 'Manrope', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: none;
}
.header ul li{
    list-style: none;
}

.header{
    width: 100vw;
    border-bottom: 1px solid #eee;
}

.header .mobileMenu{ 
    display: none;
}

.header .headerWrapper{
    height: 100px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    max-width: min(1314px, 90vw);
}

.header .mobileBurger{
    display: none;
}

.header__menu { 
    flex-grow: 1;
    display: flex;
    align-items: center;
    
}

.header__logo { 
    height: 54px;
    cursor: pointer;
}

.header__menu_list { 
    display: flex;
    align-items: center;
    margin-left: min(6vw, 80px)
}

.header__menu_item a { 
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    color: #171717;
    padding: 15px 0;
    transition: 250ms;
    cursor: pointer;
}

.header__menu_item:not(:last-child) {
    margin-right: min(4.5vw, 60px)
}

.header__menu_item.active a, .header__menu_item:hover a{
    color: #2080C6;
}

.header__menu_item.active a{
    font-weight: 800;
    font-size: 24px;
    text-decoration: underline;
}

.header__not_auth{
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 24px;
    color: #171717;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__not_auth img{
    margin-left: 6px;
}

.header__not_auth .profileImage{
    width: 50px;
}

.header__not_auth .userName{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 24px;
    color: #171717;
    margin-left: 14px;
}

.header__not_auth .divider{
    height: 20px;
    width: 1px;
    background: black;
    margin: 0 12px;
}

.header__mobile_auth{
    display: none;
}

.header__languageSwitcher { 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #0A0A0A;
    display: flex;
    flex-direction: column;
    padding: 6px 18px;
    background: #80AAFF;
    border-radius: 18px;
    margin-left: 48px;
    height: 32px;
    overflow: hidden;
    cursor: pointer;

    transition: 250ms;
}

.header__languageSwitcher a img{
    margin-left: 8px;
    transition: 250ms;
}

.header__languageSwitcher a:first-child{
    margin-bottom: 4px;
}

.header__languageSwitcher.active{
    height: 60px;
}

.header__languageSwitcher.active a img{
    rotate: -90deg;
}

.header .modalWindow label{
    display: block;
    margin-top: 18px;
    position: relative;
}

.header .modalWindow label span{
    padding-left: 24px;
    
}

.header .modalWindow label input{
    transform: translateY(4px);
}

.header .modalWindow .password-icon{
    position: absolute;
    right: 18px;
    bottom: 10px;
    cursor: pointer;
    /* transform: translateY(50%); */
}

.header .modalWindow button{
    margin-top: 36px;
    width: 100%;
}

.header .modalWindow .otherActions{
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header .otherActions .modalAction {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    cursor: pointer;
    color: #727272;
}



@media (max-width: 1120px){
    .header .mobileMenu{ 
        display: block;
        position: fixed;
        z-index: 9999;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        width: 100vw;
        transform: translateY(-100%);
        transition: .5s;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.92) 0%, rgba(225, 234, 255, 0.9016) 100%);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        /* padding: 10vw 1vw 4vw; */
    }

    .header .mobileMenu.active{ 
        transform: translateY(0);
    }

    .mobileMenu__close{ 
        position: absolute;
        width: 5vw;
        right: 7vw;
        top: 7vw;
    }

    .mobileMenu__list{

    }

    .mobileMenu__item {
        margin-bottom: 8vw;
        text-align: center;
    }

    .mobileMenu__item a{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 600;
        font-size: calc(25px + 2.5vw);
        line-height: 60px;
        color: #171717;
        
        
    }


    .mobileMenu__item.active a{
        color: #2080C6;
        font-weight: 800;
        text-decoration: underline;
    }

    .mobileMenu__auth{

    }

    .mobileMenu__auth_user{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: calc(25px + 2.5vw);
        line-height: 24px;
        color: #171717;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobileMenu__auth_user img{
        width: 11vw;
        margin-right: 4.5vw;
    }

    .mobileMenu__auth_exit{
        margin-top: 8vw;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: calc(25px + 2.5vw);
        line-height: 58px;
        color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobileMenu__auth_exit img{
        width: 8vw;
        margin-left: 40px;
    }

    .mobileMenu__languageSwitcher{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mobileMenu__languageSwitcher span{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 4.5vw;
        line-height: 50px;
        color: #0A0A0A;
    }

    .mobileMenu__languageSwitcher span img{
        width: 2vw;
        margin-left: 8px;
    }

    .mobileMenu__languageSwitcher span:first-child{
        margin-right: 32px;
    }

    .mobileMenu__languageSwitcher span.active{
        font-weight: 700;
        color: #1E1E1E;
    }

    

    



    







    



    .header .headerWrapper{
        height: 16vw;
        justify-content: space-between;
    }
    
    .header__menu { 
        flex-grow: 0;
    }
    .header .mobileBurger{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2vw 0;
    }

    .mobileBurger__button{
        width: 9vw;
        height: 1.5vw;
        background: #2080C6;
        border-radius: 16px;
        position: relative;
    }
    .mobileBurger__button:before{
        content: '';
        position: absolute;
        top: calc(100% + 8px);
        display: block;
        height: 100%;
        width: 100%;
        background: #2080C6;
        border-radius: 16px;
    }
    .mobileBurger__button:after{
        content: '';
        position: absolute;
        bottom: calc(100% + 8px);
        display: block;
        height: 100%;
        width: 100%;
        background: #2080C6;
        border-radius: 16px;
    }

    .header__logo {
        height: 9vw;
    }

    .header__menu_list { 
        display: none;
    }
    
    .header__not_auth{
        display: none;
    }

    .header__mobile_auth{
        display: block;
    }
    .header__mobile_auth img{
        width: 9vw;
    }
    
    .header__languageSwitcher { 
        display: none;
    }
}